<div class="footer">
    <p class="logo">Gabriel Marinho</p>
    <p class="about-me">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu velit tempus erat egestas efficitur. In hac habitasse platea dictumst. Fusce a nunc eget ligula suscipit finibus.</p>
    <ul class="social-networks aligned">
        <li class="social-network-link">Twitter</li>
        <a href="https://github.com/gabrielcmarinho">
            <li class="social-network-link">GitHub</li>
        </a>
        <a href="https://linkedin.com/in/gabrielcmarinho">        
            <li class="social-network-link">LinkedIn</li>
        </a>
    </ul>

    <p class="copyright-text">© 2021 Gabriel Marinho All rights reserved.</p>
</div>